body {
  margin: 0;
  font-weight: 500;
}

body * {
  box-sizing: border-box;
  font-family: Noto Sans KR, Avenir, Helvetica, Arial, sans-serif;
}

#main {
  min-width: 1500px;
}

:root {
  --blue: #0046FF;
  --secondary: #2254A5;
  --light-grey: #D9D9D9;
  --bg-light: #E2EDFE;
  --border-blue: #0D99FF;
  --text-grey: #696969;
}

#app {
  font-family: Noto Sans KR, Avenir, Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #090909;
}

nav {
  box-sizing: border-box;
  background: var(--blue);
  width: 100vw;
  min-width: 1000px;
  height: 120px;
  padding: 60px 50px 0;
  display: flex;
  gap: 2px;
}

nav a {
  color: inherit;
  text-decoration: none;
}

.nav-button {
  width: 293px;
  height: 60px;
  padding: 10px 22px 5px 12px;
  font-size: 26px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary);
  outline: none;
  border: none;
  background: #F2F0F0;
  border-radius: 7px 7px 0 0;
  cursor: pointer;
}

.nav-button img {
  height: 43px;
}

.nav-button span {
  padding-bottom: 5px;
}

.nav-button.activePage {
  height: 66px;
  transform: translate(0, -6px);
  background: #FFFFFF;
  font-weight: 700;
  box-shadow: 7px -1px 4px 0 rgba(0,0,0,0.25), -5px -1px 4px 0 rgba(0,0,0,0.25);
  position: relative;
}

.nav-button.activePage::after {
  background-color: #fff;
  height: 5px;
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
}

.page-area > section {
  padding: 24px 77px 48px;
}

.blue-divider {
  width: 100%;
  height: 0;
  border: 1px solid var(--secondary);
  border-bottom: none;
}

.bg-light-box {
  background: #F7F8FB;
  padding: 12px;
  border-radius: 6px;
  font-size: 12px;
}

h1, h2, h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.underlined {
  text-decoration: underline;
}

.desc-text {
  font-size: 12px;
  color: #696969;
}

a {
  color: inherit;
}

input:focus, input:active {
  outline: none;
}

.cancel-btn button:not(:hover) {
  background: #6983C6 !important;
}

.btn-group-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 9px;
}

.btn-group-3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
}

.btn-group-4 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 9px;
  row-gap: 16px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 12px;
  border: 1px solid #000;
}

input[type="checkbox"]::before {
  content: "✔";
  width: 12px;
  height: 12px;
  transform: scale(0);
  background-color: transparent;
}

input[type="checkbox"]:checked::before {
  font-weight: 300;
  transform: scale(1) translateY(-3px) translatex(1px);
}

.text-center {
  text-align: center;
}

.flex-btn-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.flex-end {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.info-box {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.info-box p {
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

.info-box b {
  font-weight: 600;
}

hr {
  background: transparent;
  border: none;
  margin-block-start: 12px;
  margin-block-end: 12px;
}

.text-accent {
  color: var(--secondary);
}
.text-accent-bold {
  color: var(--secondary);
  font-weight: bold;
}

.text-m-center {
  margin: 36px auto;
}

.flex-box {
  display: flex;
  align-items: center;
}

.flex-box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-light {
  font-size: 12px;
  font-weight: 400;
}

.basic-textarea {
  min-height: 26px;
  background: none;
  outline: none;
  border: 1px solid #BCBCBC;
  padding: 6px 17px;
  color: #090909;
  font-size: 15px;
  font-weight: 500;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  background: #ECECEC;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #BCBCBC;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background-color: #56585D;
}

::-webkit-scrollbar-corner {
  background-color: #56585D50;
}