
.modal-h3 h3 {
  color: #000000 !important;
  margin-left: 15px;
}
.modal-h3 {
  font-size: 14px;
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}

.organization-modal {
  height: 570px;
  width: 700px;
  display: flex;
  column-gap: 10px;
}

.organization-modal .scrollable-area {
  max-height: 550px;
  overflow: overlay;
}

.search-input-btn {
  width: 163px;
  height: 34px;
  display: flex;
  gap: 6px;
  border: 1px solid #696969;
  border-radius: 3px;
  padding: 5px 5px 5px 16px;
  margin-left: 40px;
}

.search-input-btn input {
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 300;
  max-width: 90px;
}

.primary-btn {
  width: 80px;
  height: 23px;
  cursor: pointer;
  outline: none;
  border: none;
  background: var(--secondary);
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 12px;
}

.light-btn {
  cursor: pointer;
  background: #FFFFFF;
  color: #000;
  border: 1px solid #000000;
  border-radius: 3px;
}

.small-btn {
  font-size: 12px;
  width: 46px;
  height: 23px;
}

.selected-users {
  font-size: 12px;
  margin: 0 0 10px 36px;
}

.attached-file-list {
  width: 138px;
  height: 45px;
  border: 0.3px solid #000;
  flex-direction: column;
}

.border-box {
  border: 1px solid #000;
  padding: 4px 16px;
}

.search-param-modal .custom-basic-input {
  margin: 0;
}
.search-param-modal .dropdown {
  margin-top: 0;
}
.search-param-modal {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}

.search-param-modal span:has(b){
  margin-top: 5px;
}

.mr-18 {
  margin-right: 18px;
}
.mr-6 {
  margin-right: 6px;
}

.modal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0 30px;
}

.modal-form .custom-basic-input {
  width: 100%;
}
.modal-form .custom-basic-input label {
  margin-bottom: 8px;
}
.modal-form .dropdown * {
  font-size: 12px;
}

.modal-form-select {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.form-file-list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #BCBCBC;
  background: #FBFBFB;
  gap:16px;
  padding: 20px 25px;
}
.form-file-list img {
  margin-right: 2px;
}